name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:
  schedule: [cron: "20 17 * * 5"]

permissions:
  contents: read

env:
  RUSTFLAGS: -Dwarnings

jobs:
  build_and_test:
    name: Build and test
    runs-on: self-hosted
    strategy:
      matrix:
        toolchain:
          - stable
          - beta
          - nightly
    steps:
      - uses: actions/checkout@v4
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: cargo build --verbose
      - run: cargo test --verbose  

  doc:
    name: Documentation
    runs-on: self-hosted
    timeout-minutes: 45
    env:
      RUSTDOCFLAGS: -Dwarnings
    steps:
      - run: cargo test --doc --release --workspace
      
  clippy:
    name: Clippy
    runs-on: self-hosted
    permissions: write-all
    if: github.event_name != 'pull_request'
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@clippy
      - run: cargo install clippy-sarif sarif-fmt
      - run: cargo clippy 
          --all-features 
          --message-format=json
          -- -Dclippy::all -Dclippy::pedantic | clippy-sarif | tee rust-clippy-results.sarif | sarif-fmt
        continue-on-error: true
      - uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: rust-clippy-results.sarif
          wait-for-processing: true

  miri:
    name: Miri
    runs-on: self-hosted
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v3
      - name: Install Miri
        run: |
          rustup toolchain install nightly --component miri
          rustup override set nightly
          cargo miri setup
      - name: Test with Miri
        run: cargo miri test
